.add-player-form {
  input {
    width: 100%;
    height: 46px;
    padding: 10px 0;
    font-size: 24px;
    line-height: 1.33333;
    border: 0;
    text-decoration: uppercase;

    &:focus {
      border: 0;
      outline-width: 0;
    }
  }

  a {
    float: right;
  }
}