<h2>Setup Tournament</h2>
<div class="add-player-container"></div>
<div class="players-container"></div>
<div class="generate-tournament-container">
  <button class="js-generate-tournament btn btn-primary btn-lg">Generate tournament</button>
</div>